<h1> KoalaMeat!</h1>
<div id="navigator">
  <button class="buttons">Home</button>
  <button class="buttons">Catalog</button>
  <button class="buttons">Contact Us</button>
  <button class="buttons">About Us</button>
  <button class="buttons">Follow Us</button>
</div>

<style type="text/css" media="screen">

body
{
background-color:#E8E8E8;
}
h1
{
color:#404040 ;
text-align:center;
font-family:"Times New Roman";
font-size:100px;
}
#navigator
{
text-align: center;
}
.buttons
{
color:#336666;
font-size:25px;
}

