<h1> KoalaMeat!</h1>
 <img src="/assets/bamboo.jpg" alt="background image" id="bg" />

<div id="user_nav" style="position: absolute; top: 0; right: 0; width: auto; text-align:right;">
  <% if current_user %>
   
    Logged in as <%= raw(current_user.email) %>.

    <%= link_to "Log out", log_out_path %>
      <% if current_user.admin? %>
        <%=link_to "Admin Portal", admin_path, :class => "a"%>
      <% end %> 
  <% end %>
</div>


<style type="text/css" media="screen">

body
{
background-color:#E8E8E8;

}
h1
{
color:#FFFFFF ;
text-align:center;
font-family:"Times New Roman";
font-size:100px;
position:relative;
z-index:1;
}
img#bg {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
#user_nav
{
 color: #FFFFFF;   
}
a {
  color: #FFFFFF;
  text-decoration: underline;
}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

a:visited {
  color: #FFFFFF;
}
