<!DOCTYPE html>
<html>
  <head>
    <title>Koala Meat</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Forgot Password</h1>
    <p>
      Here is your password is: <%= @pass %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>