// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
background-color:#E8E8E8;
}
#navigator
{
color: #FFFFFF;
position:relative;
z-index:1;
text-align: center;
margin-left: 300px;
}
#home_text
{
background-color:#2E3B0B;
margin-left: 250px;
width:1000px;
color: #FFFFFF;
position:relative;
z-index:1;
text-align: left;
font-size:25px;
}
.button_home
{
color:#336666;
font-size:25px;
width: 200px;
text-align: center;
float: left;
}