// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
background-color:#E8E8E8;
}
h1
{
color:#FFFFFF ;
text-align:center;
font-family:"Times New Roman";
font-size:100px;
position:relative;
z-index:1;
}
#user_nav
{
color:#FFFFFF ;
position:relative;
z-index:1;
}
#forgot_pwd
{
color: #FFFFFF;
position:relative;
z-index:1;
text-align: center;
}
img#bg
{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
}
#flash_notice
{
color: #FFFFFF;
position:relative;
z-index:1;
text-align: center; 
}
a {
  color: #FFFFFF;
  text-decoration: underline;
}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

a:visited {
  color: #FFFFFF;
}