<img src='assets/main_bg.png' id=background />

<div id="outer_main" align="center" >
<div class="login_main" >
   
</div>
</div>

<style type="text/css" media="screen">


div.login_main
{
position: relative;
height:  50%;
width: 30%;
}
