<div id="user_nav" style="position: absolute; top: 0; right: 0; width: auto; text-align:right;">
  <% if current_user %>
    Logged in as <%= current_user.email %>
    <%= link_to "Log out", logout_path, {:class => "a"} %>
  <% end %>
</div>

<div id="label_outer_main" align="left">
  <div class="label_inner_main" align="left">
     <ul class="label_status_list">
        <li> Latest Updates </li>
      </ul>
  </div>
</div>
<div id="outer_main" align="left">
  <div class="inner_main" align="left">
  </div>
  <div class="inner_main_right" align="left">
    <%= button_to "Create Status Report", {:controller => "status", :action => "create"}, {:method => "get", :class => "button_home"}%>
    <%= button_to "View Status Reports", {:controller => "status", :action => "view_statuses"}, {:method => "get", :class => "button_home"}%>
  </div>
</div>