<h1> Status Reports </h1>
<div id="user_nav" style="position: absolute; top: 0; right: 0; width: auto; text-align:right;">
  <%= link_to "Back", home_path, {:class => "a"} %>
  <%= link_to "Sign Out", logout_path, {:class => "a"} %>
</div>

<div id="status_all" align="center">
 <% statuses.each do |s| %>
 <%=button_to s.title, view_status_path(:id => s.id), {:class => "button_home"}%>
 <% end %>
</div>