<h1> User Management </h1>
<img src="/assets/bamboo.jpg" alt="background image" id="bg" />
<div id="user_nav" style="position: absolute; top: 0; right: 0; width: auto; text-align:right;">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path, :class => "a" %>
  <% end %>
</div>
<table align="center" border="1" cellpadding="5" cellspacing="5" width="75%">
  <tr>
  <th>Username</th>
  <th>Role: Admin</th>
  </tr>
  <% users.each do |email, role| %>   
  <tr>  
    <td width="20%"><%=link_to email, edit_user_path(:user_id => email)%></td><td><%=role%></td>
  </tr>
  <% end %>
  </table>


<style type="text/css" media="screen">

body
{
background-color:#E8E8E8;
}
h1
{
color:#FFFFFF ;
text-align:center;
font-family:"Times New Roman";
font-size:100px;
position:relative;
z-index:1;
}
#user_nav
{
color:#FFFFFF ;
position:relative;
z-index:1;
}
img#bg
{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
table{
  position:relative;
  z-index:1;
  color: #FFFFFF;
  background-color: #2E3B0B;
}
a {
  color: #FFFFFF;
  text-decoration: underline;
}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

a:visited {
  color: #FFFFFF;
