/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html, body{
width: auto;
height: auto;
margin: 0;
padding: 0;
overflow-x:hidden;
overflow-y:auto;
background-color: #5FB8DD;
}
#background{
position:absolute;
height:100%;
width: 100%;
margin: 0;
padding: 0;
}
#user_nav
{
color:#FFFFFF ;
position:relative;
z-index:1;
}
a
{
  color: #FFFFFF;
  text-decoration: underline;
}
a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

a:visited {
  color: #FFFFFF;
}