// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#outer_main
{
position: static;
height:auto;
width: auto;
margin-top: 150px;
}
div.inner_main
{
background-color: #EA0B8C;
position: relative;
height:  auto;
width: auto;
}
ul.status_list
{
align:left ;
color: #FFFFFF;
position: relative;
background-color: #EA0B8C;
list-style-type: none;
border-style: groove;
border-width:10px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;
}
ul.status_list li
{
position: relative;
height: 100px;
width: auto;
font-family:"Times New Roman";
font-size:25px;
text-align:left;
}