// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#outer_main
{
position: static;
height:100%;
width: 100%;
margin-top: 150px;
}
div.inner_main
{
position: relative;
color: #000000;
background-color: #FFFFFF;
height:  50%;
width: 30%;
}
