// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{
color:#FFFFFF;
text-align:center;
font-family:"Times New Roman";
font-size:100px;
position:relative;
z-index:1;
}
#flash_notice
{
color: #FFFFFF;
position:relative;
z-index:1;
text-align: center; 
}
#outer_main
{
position: static;
height:100%;
width: 100%;
margin-top: 150px;
}
div.inner_main
{
position: relative;
color: #000000;
background-color: #FFFFFF;
height:  50%;
width: 30%;
}
